.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 10px 0; 

    background-color: rgba(6,17,22, 0.5);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}