<section class="feedback offsets pattern" id="feedback">
  <div class="feedback__external">
    <div class="container">
      <h2 class="feedback__title title">
        Нам доверяют
      </h2>

      <div class="feedback__inner">
        <div class="swiper feedback__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide feedback__slide">
              <div class="feedback__item">
                <picture>
                  <source srcset="/img/feedback/quotes-up.webp" type="image/webp">
                  <img loading="lazy" src="/img/feedback/quotes-up.png" class="feedback__quotes feedback__quotes-up"
                    width="110" height="110" alt="Кавычки">
                </picture>
                <p class="feedback__text">
                  Заказала сайт у Егора, ничего в этом не понимала, но он мне всё доступно объяснил и
                  показал, как и
                  что будет) работа была выполнена очень хорошо и быстро, всё так, как я и хотела, в
                  общем, большое
                  спасибо!
                </p>
                <picture>
                  <source srcset="/img/feedback/quotes-down.webp" type="image/webp">
                  <img loading="lazy" src="/img/feedback/quotes-down.png" class="feedback__quotes feedback__quotes-down"
                    width="62" height="57" alt="Кавычки">
                </picture>
                <picture>
                  <source srcset="/img/feedback/dots.webp" type="image/webp">
                  <img loading="lazy" src="/img/feedback/dots.png" class="feedback__dots" width="104" height="16"
                    alt="Троеточие">
                </picture>
              </div>
            </div>
            <div class="swiper-slide feedback__slide">
              <div class="feedback__item">
                <picture>
                  <source srcset="/img/feedback/quotes-up.webp" type="image/webp">
                  <img loading="lazy" src="/img/feedback/quotes-up.png" class="feedback__quotes feedback__quotes-up"
                    width="110" height="110" alt="Кавычки">
                </picture>
                <p class="feedback__text">
                  Да, всё хорошо. Спасибо вам. Работой очень доволен. Сайт получился красивый и
                  функциональный. Слайдер работает отлично. Все разделы на месте, дизайн удобный. Все
                  этапы были выполнены в срок. Если дальше будем расширяться, обязательно обратимся к
                  вам!)
                </p>
                <picture>
                  <source srcset="/img/feedback/quotes-down.webp" type="image/webp">
                  <img loading="lazy" src="/img/feedback/quotes-down.png" class="feedback__quotes feedback__quotes-down"
                    width="62" height="57" alt="Кавычки">
                </picture>
                <picture>
                  <source srcset="/img/feedback/dots.webp" type="image/webp">
                  <img loading="lazy" src="/img/feedback/dots.png" class="feedback__dots" width="104" height="16"
                    alt="Троеточие">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev feedback__arrow feedback__arrow-prev"></div>
          <div class="swiper-button-next feedback__arrow feedback__arrow-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>