<footer class="footer offsets pattern" id="footer">
  <div class="container">
    <div class="footer__inner">
      <h3 class="footer__title logo">
        Digital<span class="logo__orange">i</span><span class="logo__blue">x</span>
      </h3>

      <div class="footer__socials">
        <a href="https://wa.me/77787248822?text=Здравствуйте,%20пишу%20с%20сайта%20Digitalix." class="footer__link"
          target="_blank">WhatsApp</a>
        <a href="https://www.instagram.com/digital.i.x/" class="footer__link" target="_blank">Instagram</a>
        <a href="https://t.me/DigitaliXAgency" class="footer__link" target="_blank">Telegram</a>
      </div>

      <div class="footer__docs">
        <p class="footer__text">
          Все права защищены &copy; <span class="footer__year"></span>
        </p>
        <p class="footer__text"><a href="Privacy_Policy_Digitalix.docx" download="Privacy Policy Digitalix"
            class="footer__political">Политика конфиденциальности</a></p>
      </div>
    </div>
  </div>
</footer>