<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="logo header__logo">
        Digital<span class="logo__orange">i</span><span class="logo__blue">x</span>
      </a>
  
      <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
      <nav class="nav" title="nav-header" data-menu>
        <ul class="nav__list">
          <!-- <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>
            Портфолио
          </a></li> -->
          <li class="nav__item"><a href="#services" class="nav__link" data-menu-item data-scroll>
            Услуги
          </a></li>
          <!-- <li class="nav__item"><a href="#team" class="nav__link" data-menu-item data-scroll>
            Команда
          </a></li> -->
          <li class="nav__item"><a href="#feedback" class="nav__link" data-menu-item data-scroll>
            Отзывы
          </a></li>
          <li class="nav__item"><a href="#contacts" class="nav__link" data-menu-item data-scroll>
            Контакты
          </a></li>
          <li class="nav__item"><a href="#contacts" class="nav__link nav__link-bg" data-menu-item data-scroll>
            Заявка
          </a></li>
        </ul>
        <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
      </nav>
    </div>
  </div>
</header>
