<section class="services offsets pattern" id="services">
    <div class="container">
        <h2 class="services__title title">
            Услуги
        </h2>
        <div class="services__inner">

            <div class="swiper services__slider">
                <div class="swiper-wrapper services__wrapper">
                    <div class="swiper-slide services__slide">
                        <div class="services__item">
                            <p class="services__name">Создание сайтов</p>
                            <picture>
                                <source srcset="img/services/computer.webp" type="image/webp">
                                <img loading="lazy" src="img/services/computer.png" class="services__icon" width="108"
                                    height="108" alt="Computer">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-slide services__slide">
                        <div class="services__item">
                            <p class="services__name">Озвучка</p>
                            <picture>
                                <source srcset="img/services/microphone.webp" type="image/webp">
                                <img loading="lazy" src="img/services/microphone.png" class="services__icon" width="108"
                                    height="108" alt="Computer">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-slide services__slide">
                        <div class="services__item">
                            <p class="services__name">Дизайн</p>
                            <picture>
                                <source srcset="img/services/design.webp" type="image/webp">
                                <img loading="lazy" src="img/services/design.png" class="services__icon" width="108"
                                    height="108" alt="Computer">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-slide services__slide">
                        <div class="services__item">
                            <p class="services__name">SMM</p>
                            <picture>
                                <source srcset="img/services/smartphone.webp" type="image/webp">
                                <img loading="lazy" src="img/services/smartphone.png" class="services__icon" width="108"
                                    height="108" alt="Computer">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-slide services__slide">
                        <div class="services__item">
                            <p class="services__name">Монтаж видео</p>
                            <picture>
                                <source srcset="img/services/montage.webp" type="image/webp">
                                <img loading="lazy" src="img/services/montage.png" class="services__icon" width="108"
                                    height="108" alt="Computer">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-slide services__slide">
                        <div class="services__item">
                            <p class="services__name">Маркетинг</p>
                            <picture>
                                <source srcset="img/services/marketing.webp" type="image/webp">
                                <img loading="lazy" src="img/services/marketing.png" class="services__icon" width="108"
                                    height="108" alt="Computer">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev services__arrow services__arrow-prev"></div>
                <div class="swiper-button-next services__arrow services__arrow-next"></div>
            </div>
        </div>
    </div>
</section>