<section class="team offsets pattern" id="team">
    <div class="container">
        <h2 class="team__title title">
            Команда профессионалов
        </h2>
        <div class="team__row">
            <div class="team__item">
                <picture>
                    <source srcset="/img/team/team-1.webp" type="image/webp">
                    <img loading="lazy" src="/img/team/team-1.png" class="team__photo" width="327" height="447"
                        alt="Егор Разработчик">
                </picture>

                <p class="team__name">Егор</p>
                <p class="team__position">Разработчик сайтов</p>
                <p class="team__experience">Опыт: 2 года</p>
            </div>

            <div class="team__item">
                <picture>
                    <source srcset="/img/team/team-1.webp" type="image/webp">
                    <img loading="lazy" src="/img/team/team-1.png" class="team__photo" width="327" height="447"
                        alt="Егор Разработчик">
                </picture>

                <p class="team__name">Егор</p>
                <p class="team__position">Разработчик сайтов</p>
                <p class="team__experience">Опыт: 2 года</p>
            </div>

            <div class="team__item">
                <picture>
                    <source srcset="/img/team/team-1.webp" type="image/webp">
                    <img loading="lazy" src="/img/team/team-1.png" class="team__photo" width="327" height="447"
                        alt="Егор Разработчик">
                </picture>

                <p class="team__name">Егор</p>
                <p class="team__position">Разработчик сайтов</p>
                <p class="team__experience">Опыт: 2 года</p>
            </div>
        </div>

        <div class="team__row">
            <div class="team__item">
                <picture>
                    <source srcset="/img/team/team-1.webp" type="image/webp">
                    <img loading="lazy" src="/img/team/team-1.png" class="team__photo" width="327" height="447"
                        alt="Егор Разработчик">
                </picture>

                <p class="team__name">Егор</p>
                <p class="team__position">Разработчик сайтов</p>
                <p class="team__experience">Опыт: 2 года</p>
            </div>

            <div class="team__item">
                <picture>
                    <source srcset="/img/team/team-1.webp" type="image/webp">
                    <img loading="lazy" src="/img/team/team-1.png" class="team__photo" width="327" height="447"
                        alt="Егор Разработчик">
                </picture>

                <p class="team__name">Егор</p>
                <p class="team__position">Разработчик сайтов</p>
                <p class="team__experience">Опыт: 2 года</p>
            </div>

            <div class="team__item">
                <picture>
                    <source srcset="/img/team/team-1.webp" type="image/webp">
                    <img loading="lazy" src="/img/team/team-1.png" class="team__photo" width="327" height="447"
                        alt="Егор Разработчик">
                </picture>

                <p class="team__name">Егор</p>
                <p class="team__position">Разработчик сайтов</p>
                <p class="team__experience">Опыт: 2 года</p>
            </div>
        </div>
    </div>
</section>